<div class="panel panel-primary"
     ng-controller="OwnerListCtrl as vm">
    <form novalidate name="addOwnerForm" class="form-inline" ng-submit="vm.addOwner()">
        <div class="form-group">
            <input type="text" class="form-control" id="addOwner" placeholder="Enter pet owner's name" 
                   ng-model="vm.newOwner.name" required ng-minlength="2" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" 
                    ng-disabled="addOwnerForm.$invalid">Add</button>
        </div>
    </form>
    <hr />
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Pets Count</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners">
                    <td><a href="#">{{ owner.Name}}</a></td>
                    <td>{{ owner.PetsCount}}</td>
                    <td align="right"><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>