<div ng-controller="ownersController as vm">
    <div class="text-center">
        <form novalidate name="addOwnerForm" class="form-inline" ng-submit="vm.addOwner()">
            <div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter pet owner's name"
                       ng-model="vm.newOwner.name" required ng-minlength="2" />
            </div>
            <div>
                <button type="submit" class="btn btn-success"
                        ng-disabled="addOwnerForm.$invalid">
                    Add
                </button>
            </div>
        </form>
    </div>
    <div>
        <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
        <div ng-show="vm.isBusy" class="text-center">
            <i class="fa fa-spinner fa-spin"></i>Loading...
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Id</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners">
                    <td><a href="http://localhost:50630/api/pets/{{owner.Id}}">{{owner.Name}}</a></td>
                    <td>{{owner.Id}}</td>
                    <td align="right"><input type="button" value="Delete" class="btn btn-danger " data-ng-click="vm.deleteOwner(owner.Id)" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>